* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        #c7c7c7,
        #f5f5f5
        
)}

.title {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: #fff;
    color: #ffcb05;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow:
        2px 2px 0 #2a75bb,
        -2px 2px 0 #2a75bb,
        2px -2px 0 #2a75bb,
        -2px -2px 0 #2a75bb;
}

.content {
    padding: .75rem;
    background-color: #e91b1b;;
    border: 8px solid #b00020;
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0,0,0,.7);

    justify-content: center;
    align-items: center;
    z-index: 999;

}

.modal-content {
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 500px;

    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    text-align: left;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;

    color: #fff;
    background-color: #858aaa;

    margin: .25rem 0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease;
}

.pagination button:hover {
    transform: scale(1.05);
    background-color: #6f7491;
}

#searchPokemon {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}